

<span onclick="one('priority')" ><%= sortable "priority", "Priority" %><span id="priority"></span></span>
<span onclick="one('due_date')" ><%= sortable "date", "due_date" %><span id="due_date" ></span></span>



<p>
  <table>
    <tr>
      <th style="text-align:center">Author</th>
      <th style="text-align:center">Title</th>
      <th style="text-align:center">Text</th>
      <th style="text-align:center">Priority</th>
      <th style="text-align:center">Due_date</th>
    </tr>
    <% @articles.each do |article| %>
    	<tr>
    		<td><%= User.find(article.user_id).nickname %></td>
    		<td>
          <a href="#" id="link" data-type="text" data-xeditable="true" data-pk="article" data-model="article" data-name="title" data-url="/users/<%= current_user.id %>/articles/<%= article.id %>" data-title="Enter title">
            <%= article.title %>
          </a>
        </td>
    		<td>
          <a href="#" id="link" data-type="text" data-xeditable="true" data-pk="article" data-model="article" data-name="text" data-url="/users/<%= current_user.id %>/articles/<%= article.id %>" data-title="Enter title">
            <%= article.text %>
          </a>
        </td>
        <td>
          <a href="#" data-xeditable="true" data-inputclass="prior" data-showbuttons="false"
            data-pk="article" data-model="article" data-name="priority" data-url="/users/<%=
            current_user.id %>/articles/<%= article.id %>" data-title="Enter title">
            <%= article.priority %>
          </a>
        </td>
        <td>
          <div id="link" data-type="date"  data-inputclass="some_class"  data-xeditable="true" data-pk="article" data-model="article" data-name="date" data-url="/users/<%= current_user.id %>/articles/<%= article.id %>" data-title="Enter title">
            <%= article.date || Date.today %>
          </div>
        </td>
    		<td><%= link_to 'Show', user_article_path(article.user_id, article) %></td>
    		  <% if current_user && article.user_id == current_user.id %>
    				<td><%= link_to 'Edit', edit_user_article_path(current_user.id, article) %></td>
    				<td>
              <%= link_to 'Del', user_article_path(current_user.id, article), remote: true ,
              data: { confirm: 'are you sure?'}, method: :delete %>
            </td>
    		  <% end %>
    	</tr>
    <% end %>
  </table>
</p>
