<div id= "content">
<p>
  <%= link_to 'Back', home_path %>
</p>

<h1>Articles</h1>

<p>
  <% if current_user %>
    <%= link_to 'New article', new_user_article_path(current_user.id) %>
    <%= link_to 'My articles', user_myarticles_path(current_user.id) %>
  <% end %>
</p>
<div class="new_article">
  <%= link_to 'new', new_user_article_path(current_user.id), remote: true %>
</div>

  <h2>Unread</h2>
<span class="sorting">
  <%= render "sort" %>
</span>

<div class="articles" id="Unread">
  
<% @artIncompl.each do |article| %>
  <%= render partial: 'article', locals: {article: article, checked: ""} %>
<% end %>
</div>

<div id="formid">
</div>
<div class="separator">
    
    <div class="separator_line"></div>
  </div>
<h2>Read</h2>
  <div class="articles" id="Read">
    <% @artCompl.each do |article| %>
      <%= render partial: 'article', locals: {article: article, checked: "checked"} %>
    <% end %>
  </div>

</div>
