<p>
	<%= link_to 'Back', home_path %>
</p>

<h1>Articles</h1>

<p>
	<% if current_user %>
		<%= link_to 'New article', new_user_article_path(current_user.id) %>
		<%= link_to 'My articles', user_myarticles_path(current_user.id) %>
	<% end %>
</p>


<div id="all-articles">
<table>
	<%= render 'article' %>
</table>
</div>
<div id="new-article">
  <%= link_to 'new', new_user_article_path(current_user.id), remote: true %>
</div>

<div id="formid">
</div>


